body {
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

a {
    text-decoration: none;
}

p {
    margin: 0;
}
.pwa-logo {
    width: 100px;
    height: 75px;
}

.navbar {
    display: flex;
    justify-content: space-around;
}

.header {
    -webkit-box-shadow: 0px 2px 5px 2px #CCCCCC; 
box-shadow: 0px 2px 5px 2px #CCCCCC;
margin-bottom: 1rem;
}

.list-nav {
    display: flex;
}

.list-item {
    padding-right: 1rem;
    padding-left: 1rem;
}

.container-list-nav {
    display: flex;
    align-items: center;
}

.left-content {
    position: fixed;
    width: 300px;
    min-width: 290px;
    height: 100%;
    top: 83px;
    left: 0;
    margin-top: 1rem;
}

.right-content {
    margin-left: 310px;
    margin-top: 5px;
}

.nav-wraper {
    height: 80%;
    overflow-y: auto;
    overflow-x: hidden;
}

.nav-list-item {
    margin-left: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.nav-header {
    text-align: center;
    font-size: 1.5em;
}

.content-wraper {
    margin-left: 1rem;
}

.content-header {
    font-size: 2em;
}

.content-paragraph {

}

.paragraph-wraper {
    margin: 1rem;
}